body{
    background:#A63287;
    font-family: Verdana, Arial; /* caso a verdana n funcione, a arial entra */
    max-width: 900px;
    margin: auto;
}

.photo{
    border: 3px solid #F26444;
    border-radius: 50%;
}

#title, .subtitle, .post_title{
    color:#ff75a8;
}

#title{
    font-size: 28px;
    text-transform: uppercase;
}

a{
    text-decoration: line-through; /* linha ao centro */
    color: #F24484;
}
.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px; /* margem só na parte de baixo */
}

.post{
    background: #ebe3e3fb;
    padding: 15px; /* espaçamento */
    border: 3px solid #F26444;
    margin-bottom: 15px; /* espaçameno entre elementos */
    border-radius: 5px;
}

.post_content{
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize; /* primeiras letras ficam maiusculo */
    text-align: justify;
    padding-left: 2px;
}

.post_image{
    margin-bottom: 15px;   
    width: 400px;
}

.contact_list{
    list-style-type: circle;
    padding-left: 30px;
    color: white;
}

.contact_list li a{
    font-size: 13px;
    text-decoration: none;
    color: #ffb3cf;
}
